/*
=======================
Header
to use the roboto typeface:
font-family: 'Roboto', sans-serif;
======================
*/

*, *:before, *:after{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
	         	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}



nav a, nav div{
  -webkit-flex-grow: 2;
	   -moz-flex-grow:2;
		 		  flex-grow:2;
					text-align: center;
					padding-top: 0.4em;
					height: 100%;
	color: #fff;
}
.primary-navbar div{
	position: relative;
}
.primary-navbar div .searchBottom{
		font-size: 0.8em;
		position: absolute;
		z-index: 2;
		color: #000;
		top: 1em;
		left: 2.5em;
}

.primary-navbar div input:focus {
	background-color: #fff;
}

.primary-navbar div input{
	border-radius: 5px;
	font-size: 0.8em;
	height: 80%;
	width: 70%;
	padding-left: 1.2em;
	background-color: #cccccc;
	border-style: none;
}

.primary-navbar{
	display: -webkit-flex;
	display:         flex;
  position: absolute;
	align-items: stretch;
	height:2em;
  z-index: 1;
  margin: 0 auto;
  top: 10%;
  width: 60%;
  left: 20%;
  border-radius: 2px;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
}



.primary-navbar a{
  font-size: 15px;
  text-decoration: none;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.primary-navbar a:hover{
  background-color: #000;
  cursor: pointer;
}



.apple-button{
  font-size: 20px;
  color: #d9d9d9;
}

/*
========================
Main Section
=======================
*/
h2,h3{
  display: none;
}

.mainImage{
  position: relative;
  width: 100%;
  height: 530px;
  margin: 0 auto;
  background-position: bottom center;
  background-image: url("../images/mainImage.jpg");
}

.whatVerse{
  cursor: pointer;
  height: 100px;
  width: 620px;
  background-repeat: no-repeat;
  background-position: 50% 4%;
  position: absolute;
  top: 150px;
  left: 360px;
  background-image: url("https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/your_verse_title_small.png");
}

.everyoneHas{
  cursor: pointer;
  height: 100px;
  width: 800px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 250px;
  left: 280px;
  background-image: url("https://web.archive.org/web/20140301004340im_/http://images.apple.com/home/images/your_verse_subhead_small.png");
}

.watchStories{
	cursor: pointer;
	height: 30px;
	width: 550px;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	top: 380px;
	left: 380px;
	background-image: url("https://web.archive.org/web/20140301004341im_/http://images.apple.com/home/images/cta_your_verse_27pt.png");
}


/*
=======================
Minor Background images
=======================
*/
.belowGrid{
  margin: 0 auto;
	width: 100%;
}



.inline-block{
  display: inline-block;
}

.belowGrid{

}
.belowGrid div{
  width: 24.5%;
  height: 200px;
  margin-top: 0.25em;
  background-repeat: no-repeat;
}


.firstIphone{
	margin-left: 0.8%;
  background-image: url("../images/iphone1.jpg");

}

.secondIphone{
  background-image: url("../images/iphone2.jpg");

}

.thirdIphone{

  background-image: url("../images/iphone3.jpg");
}

.fourthIphone{
  background-image: url("../images/iphone4.jpg");

}

/*
======================
footer
======================
*/
.group:before,
.group:after{
  content: "";
  display: table;
}

.group:after{
  clear: both;
}

.group{
  clear: both;
  *zoom: 1;
}

footer .left-most li{
	display: inline;
	list-style: none;
	font-size: 10px;
	float: left;
	margin-top: 2em;
	padding-left: 0.7em;
}
.left-most li a{
	color: #0066ff;
}

.left-most li a img{
	vertical-align:top;
	height: 14px;
}

.left-most .firstLi{
	margin-left: 4em;
}

.container{
	margin: 0 auto;
	width: 70%;
}
.finalText{
	margin-bottom: 2em;
}
